{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:@typescript-eslint/eslint-recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "unused-imports", "prettier"],
  "root": true,
  "rules": {
    // Prevent default react imports like import React from "react"
    // but still allows other named react imports.
    "no-unused-vars": "off", // or "@typescript-eslint/no-unused-vars": "off",
		"unused-imports/no-unused-imports": "error",
		"unused-imports/no-unused-vars": [
			"warn",
			{ "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
		],
    "no-restricted-imports": [
      "warn",
      {
        "paths": [
          {
            "name": "react",
            "importNames": ["default"],
            "message": "React default is automatically imported by webpack."
          }
        ]
      }
    ],
    "prettier/prettier": ["error",   {
      "endOfLine": "auto"
    }],
    "max-len": ["error", {"code": 100, "ignoreUrls": true}],
  }
}