.btn {
  border-radius: 6px;

  color: white;
  font-size: 16px;
  background-color: #6F936B;
  border: none;

  padding: 10px;

  cursor: pointer;

  &:hover {
    color: #D0D0D0;
  }
}

.btn__secondary {
  background-color: #8C9091
}