.itemData {
  display: flex;
  justify-content: center;
  width: 100%;
}

.itemData__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;

  padding-top: 20px;
  width: 1400px;

  &__imgContainerWrapper {
    padding: 8px;

    &__container {
      position: relative;
      min-height: 400px;
      max-height: 800px;
      display: flex;
      justify-content: center;
      overflow: hidden;

    img{
      max-width: 100%;
      max-height: 100%;
    }
    }

  }

  &__dataContainer {
    // background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__title{
      font-size: larger;
      font-weight: 500;
      padding: 16px;
    }
  }
}

@media (max-width: 900px) {
  .itemData__content {
    grid-template-columns: 1fr;
  }
}